{% extends 'pages/index.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Twilight Terrace Hotel</title>
</head>
<body class="body-about">

    <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <p>OUR MISSION</p>
          </div>
          <div class="card-back">
            <p class="mission">At Twilight Terrace Hotel, our mission is to provide an unparalleled guest experience by offering exceptional hospitality, personalized service, and a commitment to excellence. We strive to create a welcoming and comfortable environment that exceeds the expectations of every guest.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <p>CREATOR</p>
          </div>
          <div class="card-back">
            <p>Greetings! I'm [Your Name], a passionate [Your Profession or Role] with a zest for [Your Key Interests or Passions]. I thrive on [mention what motivates or inspires you in your field or life].</p>
          </div>
        </div>
      </div>
</body>
</html>

{% endblock %}